language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1

env:
  - BITCOIN_VERSION=0.12.1 BITCOIN_PKG=bitcoin-0.12.1-linux64.tar.gz
  - BITCOIN_VERSION=0.13.2 BITCOIN_PKG=bitcoin-0.13.2-x86_64-linux-gnu.tar.gz
  - BITCOIN_VERSION=0.14.0 BITCOIN_PKG=bitcoin-0.14.0-x86_64-linux-gnu.tar.gz
  - BITCOIN_VERSION=0.14.2 BITCOIN_PKG=bitcoin-0.14.2-x86_64-linux-gnu.tar.gz

install:
    - |
        wget https://bitcoin.org/bin/bitcoin-core-${BITCOIN_VERSION}/${BITCOIN_PKG} \
        && tar xvf ${BITCOIN_PKG} \
        && cd bitcoin-${BITCOIN_VERSION} \
        && sudo cp include/bitcoinconsensus.h /usr/include/ \
        && sudo cp lib/libbitcoinconsensus.so.0.0.0 /usr/lib/ \
        && sudo ln /usr/lib/libbitcoinconsensus.so.0.0.0 -s /usr/lib/libbitcoinconsensus.so.0 \
        && sudo ln /usr/lib/libbitcoinconsensus.so.0.0.0 -s /usr/lib/libbitcoinconsensus.so \
        && sudo ls -lsah /usr/lib/libbitcoin* \
        && sudo ldconfig \
        && cd ..
    - |
        cd bitcoinconsensus \
        && phpize && ./configure --with-bitcoinconsensus && make && sudo make install \
        && cd ..
    - git clone https://github.com/jonasnick/bitcoinconsensus_testcases.git
    - composer update

before_script:
    - php-config || true
    - phpenv rehash
    - phpenv version-name

script:
    - php -dextension=bitcoinconsensus.so vendor/bin/phpunit --debug tests/
